body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* *Background Pattern */
    background-color: #e5e5f7;
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(
        45deg,
        #1976d2 0,
        #1976d2 1.5px,
        #e5e5f7 0,
        #e5e5f7 50%
    );
}
